p{
  font-size: 30px;
}
body{
  background-color: #e6ffff
}
.shawnee{
  width: 300px;
  length: 300px;
  position: relative;
  top: 8px;
  border: black 5px solid;
}
.one {
  align-items: flex-start;
}
.SummerBoyz{
  width: 300px;
  length:100px;
  border: black 5px solid;
}
.BackstreetBoyz{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.BAM{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.BrunoMars{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.hozier{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.JonasBros{
  width: 400px;
  length:1000px;
  border: black 5px solid;
}
.JustinT{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
  .Khalid{
  width: 400px;
  length:300px;
  border: black 5px solid;
}
.MaroonFive{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.OneDirection{
  width: 400px;
  length:300px;
  border: black 5px solid;
}

.Ruel{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.PostMalone{
  width:400px;
  length:200px;
  border: black 5px solid;
}
.SamSmith{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.Adele{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.theKeys{
  width: 450px;
  length:300px;
  border: black 5px solid;
}
.theGrande{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.Beyonce{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.theSpears{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.theHorse{
  width: 300px;
  length:300px;
  border: black 5px solid;
}
.DemiLovato{
  width: 300px;
  length:300px;
  border: black 5px solid;
}

.KatiePerry{
  width: 300px;
  height:300px;
  object-fit: cover;
  border: black 5px solid;
}

.MeghanTrainor{
  width: 300px;
  length:300px;
  border: black 5px solid;
}

.NineBall{
  {
    width: 300px;
    length:300px;
    border: black 5px solid;
}
